# Please rename this file to keys.env after filling these
#
# BEARER_TOKEN = Twitter bearer token
# TELEGRAM_BOT = TOKEN that you got from BotFather in TELEGRAM
# TWITTER_USER = Username we need to fetch tweets from
# CHAT_ID = Add '@username_to_id_bot' to your Group or Channel, say something and it will show your channel/group ID, include the '-' infront of the numbers.
export BEARER_TOKEN=""
export TELEGRAM_BOT=""
export TWITTER_USER=""
export CHAT_ID=
